<%= content_for :page_title, "Landing Page" %>
<div class="container">
  <h1 class="text-center display-4">Featured Products <%= params[:example_key].to_i * 10 %></h1>
  <br>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <% @products.each do |product| %>
        <div class="carousel-item<%= " active" if product == @products.first %>">
          <%=link_to( image_tag(product.image_url, class: 'd-block img-fluid'), product) %>
          <div class="carousel-caption d-none d-md-block">
            <h3><%= product.colour + " " + product.name %></h3>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>
