<div class="form-signin">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put}) do |f| %>
    <%= devise_error_messages! %>

    <h2 class="form-signin-heading">Edit <%= resource_name.to_s.humanize %></h2>

    <%= f.label :email, "Email address", for: "inputEmail", class: "sr-only"%>
    <%= f.email_field :email, id: "inputEmail", class: "form-control", placeholder: "Email address", required: "", autofocus: "", data: { order: "first" } %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <%= f.label :password, "Password", for: "inputPassword", class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "off", id: "inputPassword", class: "form-control", placeholder: "Password", data: { order: "first" } %>
    <%# if @minimum_password_length %>
      <!-- <em>(<%= @minimum_password_length %> characters minimum)</em> -->
    <%# end %>

    <%= f.label :password_confirmation, "Password", for: "inputPasswordConfirmation", class: "sr-only" %>
    <%= f.password_field :password_confirmation, autocomplete: "off", id: "inputPasswordConfirmation", class: "form-control", placeholder: "Password confirmation", data: { order: "first" } %>

    <%= f.label :current_password, "Current password", for: "inputCurrentPassword", class: "sr-only" %>
    <%= f.password_field :current_password, autocomplete: "off", id: "inputCurrentPassword", class: "form-control", placeholder: "Current password", data: { order: "last" } %>

    <%= f.submit "Update", class: "btn btn-lg btn-primary btn-block" %>
    <br>

  <% end %>

  <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block" %>
</div>
