<div class="product-reviews">
  <% @comments.each do |comment| %>
    <p>
      <%= comment.user.email %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>
      <% if signed_in? && current_user.admin? %>
        <%= link_to image_tag("delete-button2.png"), product_comment_path(comment.product, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
    <span class="rated" data-score="<%= comment.rating %>"></span>
    <small>
      <%= " #{comment.rating}/5" %><br>
      <%= comment.body %>
    </small>
    <hr>
  <% end %>
</div>
