<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved!</h4>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, for: "nameInput" %>
    <%= f.text_field :name, class: "form-control", id: "nameInput", placeholder: "Enter name" %>
  </div>

  <div class="form-group">
    <%= f.label :description, for: "descriptionInput" %>
    <%= f.text_area :description, class: "form-control", id: "descriptionInput", rows: "3", placeholder: "Enter description" %>
  </div>

  <div class="form-group">
    <%= f.label :image_url, "Image URL", for: "imageUrlInput" %>
    <%= f.text_field :image_url, class: "form-control", id: "imageUrlInput", placeholder: "Enter image URL" %>
    <small class="form-text text-muted">Please enter a valid URL or an image from the database including the name with the extension.</small>
  </div>

  <div class="form-group">
    <%= f.label :colour, for: "colourInput" %>
    <%= f.text_field :colour, class: "form-control", id: "colourInput", placeholder: "Enter colour" %>
  </div>

  <div class="form-group">
    <%= f.label :price, for: "priceInput" %>
    <%= f.text_field :price, class: "form-control", id: "priceInput", placeholder: "Enter price" %>
  </div>

  <div class="actions">
    <%= f.submit(class: "btn btn-secondary button-style btn-sm button-size") %>
  </div>
<% end %>
