<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center display-4">Products</h1>

  <div class="card-group">
    <% @products.each do |product| %>
      <div class="card text-center">
        <img class="card-img-top" src="<%= product.image_url %>" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text"><%= product.description %></p>
        </div>
        <div class="card-footer"><small class="text-muted">
          <div class="row">
            <div class="col"><%= link_to 'Show', product %></div>
            <div class="col"><%= link_to 'Edit', edit_product_path(product) %></div>
            <div class="col"><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </small></div>
      </div>
    <% end %>
  </div>

  <br>

  <button type="button" class="btn btn-primary" onclick="location.href='<%= new_product_path %>';">New Product</button>

</div>
