<div class="container">
  <p id="notice"><%= notice %></p>

  <h1 class="text-center display-4">Products</h1>
  <br>

  <div class="card-group">
    <% @products.each do |product| %>
      <div class="card">
        <img class="card-img-top" src="<%= product.image_url %>" alt="Card image cap" style="max-width: 300px;">
        <div class="card-block">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text"><%= product.description %></p>
          <br>
          <p class="card-text"><strong>Color: </strong> <%= product.color %></p>
          <p class="card-text"><strong>Price: </strong> <%= product.price %>$</p>
          <br>
          <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(product.updated_at) %> ago</small></p>
        </div>
        <div class="card-footer"><small class="text-muted">
          <div class="row">
            <div class="col"><%= link_to 'Show', product %></div>
            <div class="col"><%= link_to 'Edit', edit_product_path(product) %></div>
            <div class="col"><%= link_to 'Remove', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
          </div>
        </small></div>
      </div>
    <% end %>
  </div>

  <br>

  <button type="button" class="btn btn-primary" onclick="location.href='<%= new_product_path %>';">Add New Product</button>

</div>
