<%= content_for :page_title, "Show Product" %>

<p id="notice"><%= notice %></p>
<br>
<% cache @product do %>
  <%= image_tag(@product.image_url, class: "card-img-top") %>
  <div class="card-block">
    <h4 class="card-title"><%= @product.name %></h4>
    <p class="card-text"><%= @product.description %></p>
    <br>
    <p class="card-text"><strong>Colour: </strong> <%= @product.colour %></p>
    <p class="card-text"><strong>Price: </strong> <%= @product.price %>$</p>
    <% end %>
    <br>
    <p id="average-rating" class="card-text"><strong>Average Rating: </strong> <div class="rated" data-score="<%= @product.average_rating %>"></div></p>
    <br>
    <p class="card-text"><small class="text-muted">Last updated <%= time_ago_in_words(@product.updated_at) %> ago</small></p>
    <br>
    <% if signed_in? && current_user.admin? %>
      <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-secondary button-style btn-sm" %>
    <% end %>
    <%= link_to 'Back', products_path, class: "btn btn-secondary button-style btn-sm" %>
    <br>
    <%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>
    <hr>
    <h3 class="card-title">Customer Reviews</h3>
    <%= render "new_comment" %>
    <%= render "comments" %>
    <%= will_paginate @comments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
