<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="card text-center" style="width: 256px;">
    <img class="card-img-top" src="<%= @product.image_url %>" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><%= @product.name %></h4>
      <p class="card-text"><%= @product.description %></p>
    </div>
    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='<%= edit_product_path(@product) %>';">Edit</button>
    <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='<%= products_path %>';">Back</button>
  </div>
</div>
