<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> - WebSeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("webseb_logo.png") %></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Home' %>">
            <%= link_to "HOME", home_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Products' %>">
            <%= link_to "PRODUCTS", products_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'About' %>">
            <%= link_to "ABOUT", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Contact' %>">
            <%= link_to "CONTACT", contact_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Users' %>">
            <%= link_to "USERS", users_path, class: "nav-link" %>
          </li>
        </ul>
        <%= form_tag("/products", method: "get", class: "form-inline my-2 my-lg-0") do %>
          <%= text_field_tag(:q, "", class: "form-control mr-sm-2") %>
          <%= submit_tag("Search", class: "btn btn-outline-primary my-2 my-sm-0") %>
        <% end %>
        <ul class="nav" id="auth-button">
          <% if user_signed_in? %>
            <li class="dropdown">
              <%= button_tag current_user.email[/[^@]+/], class: "btn btn-primary my-2 my-sm-0 dropdown-toggle", id: "dropdownMenuButton", 'data-toggle': "dropdown", 'aria-haspopup': "true", 'aria-expanded': "false" %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <%= link_to('Edit Profile', edit_user_registration_path, class: "dropdown-item") %>
                <%= link_to('Logout', destroy_user_session_path, method: "delete", class: "dropdown-item") %>
              </div>
            </li>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "btn btn-primary my-2 my-sm-0", type: 'button') %>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if notice %>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>

    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-center">Copyright &copy; 2017 Sébastien Auriault</p>
      </div>
    </footer>
  </body>
</html>
