<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
<<<<<<< HEAD
    <title><%= yield(:page_title) %> - WebSeb</title>
=======
    <title>WebSeb - <%= params[:action].capitalize %></title>
>>>>>>> fb4bccf... added carousel and refactored index and show views
=======
    <title>WebSeb - <%= yield(:page_title) %></title>
>>>>>>> 3f24bf4... 4.6 fixed page titles and nav actives
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 5dd3903... 4.6 fixed bottom button margin
  </head>

  <body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("webseb_logo.png") %></a>
<<<<<<< HEAD
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Home' %>">
            <a class="nav-link" href="/home">HOME</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Products' %>">
            <a class="nav-link" href="/products">PRODUCTS</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'About' %>">
            <a class="nav-link" href="/about">ABOUT</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Contact' %>">
            <a class="nav-link" href="/contact">CONTACT</a>
=======
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("TestLogo2.png") %></a>
=======
>>>>>>> f18e2b3... 5.1 added product validations and changed routes
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Home' %>">
            <a class="nav-link" href="/home">HOME</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Products' %>">
            <a class="nav-link" href="/products">PRODUCTS</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'About' %>">
            <a class="nav-link" href="/about">ABOUT</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Contact' %>">
<<<<<<< HEAD
            <a class="nav-link" href="/static_pages/contact">CONTACT</a>
>>>>>>> fb4bccf... added carousel and refactored index and show views
=======
            <a class="nav-link" href="/contact">CONTACT</a>
>>>>>>> f18e2b3... 5.1 added product validations and changed routes
          </li>
        </ul>
      </div>
    </nav>

<<<<<<< HEAD
    <%= yield %>

    <footer class="footer">
      <div class="container">
        <p class="text-center">Copyright &copy; 2017 Sébastien Auriault</p>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<<<<<<< HEAD
=======
    <hr>

    <%= yield %>

    <hr>

    <footer>
      <div id="footer" class="container-fluid">
        <p class="text-center">Copyright &copy; 2017 Sébastien Auriault</p>
      </div>
    </footer>
>>>>>>> fb4bccf... added carousel and refactored index and show views
=======
>>>>>>> 5dd3903... 4.6 fixed bottom button margin
  </body>
</html>
