<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title) %> - WebSeb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse fixed-top">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>"><%= image_tag("webseb_logo.png") %></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Home' %>">
            <a class="nav-link" href="/static_pages/index">HOME</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Products' %>">
            <a class="nav-link" href="<%= products_path %>">PRODUCTS</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'About' %>">
            <a class="nav-link" href="/static_pages/about">ABOUT</a>
          </li>
          <li class="nav-item <%= 'active' if yield(:page_title) == 'Contact' %>">
            <a class="nav-link" href="/static_pages/contact">CONTACT</a>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <p class="text-center">Copyright &copy; 2017 Sébastien Auriault</p>
      </div>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
